<h1>All lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.name %>
      <div><%= link_to "View list", list %></div>
    </li>
  <% end %>
</ul>

<div><%= link_to "Add a new list", new_list_path %></div>
